// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

@font-face {
    font-family: googleSans;
    src: url("/font/GoogleSans-Regular.ttf");
}

body {
    font-family: googleSans;
    transition: 0.3s ease;
}

div {
    transition: 0.3s ease;
}

.google-font {
    font-family: googleSans;
    overflow: hidden;
}

.center-text {
    text-align: center;
}

.hero-paragraph {
    margin-bottom: 20px;
}

.btn {
    border-radius: 0rem;
    box-shadow: 0px 2px 20px rgba(70, 69, 69, 0.3);
}

.btn:hover {
    box-shadow: 0px 4px 20px rgba(70, 69, 69, 0.4);
}

.full-height {
    height: 100vh;
    background-color: rgb(232, 248, 255);
}

.form-box {
    background-color: white;
    background: linear-gradient(
        -170deg,
        rgb(255, 255, 255) 0%,
        rgb(249, 252, 255) 100%
    );

    border: 0px solid;
    border-radius: 20px;
    box-shadow: 0px 5px 60px rgba(70, 69, 69, 0.247);
    padding: 5%;
}

.dash-2 {
    border-radius: 15px;
    padding: 25px;
    background: linear-gradient(
        -170deg,
        rgb(255, 255, 255) 0%,
        rgba(240, 221, 248, 0.3) 100%
    );
    box-shadow: 0px 5px 20px rgba(70, 69, 69, 0.247);
}

.dash-1 {
    border-radius: 15px;
    padding: 25px;
    background: linear-gradient(
        -170deg,
        rgb(255, 255, 255) 0%,
        rgba(208, 223, 241, 0.3) 100%
    );
    box-shadow: 0px 5px 20px rgba(70, 69, 69, 0.247);
}

.dash-3 {
    border-radius: 15px;
    padding: 25px;
    background: linear-gradient(
        -170deg,
        rgb(255, 255, 255) 0%,
        rgba(209, 243, 237, 0.3) 100%
    );
    box-shadow: 0px 5px 20px rgba(70, 69, 69, 0.247);
}

.left {
    padding-left: 0%;
}

.right {
    padding-right: 0%;
}

.center {
    padding-left: 0%;
    padding-right: 0%;
}

.auth-box {
    width: 500px;
    // height: 80vh;
    margin: auto;
    margin-top: 3vh;
    margin-bottom: 10vh;
    padding: 3%;
}

.nav-pill-center {
    border-radius: 0rem;
    text-align: center;
}

.nav-pills .nav-link {
    border-radius: 0rem;
    background-color: #f6f8fa;
}

.nav-link {
    color: rgba(79, 102, 128, 0.693);
}

.nav-link:hover {
    color: #47c3e2;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #fff;
    background-color: #47c3e2;
}

.form-control {
    border-radius: 0rem;
    border: 0px;
    background-color: #f6f8fa;
}

.form-control:focus {
    background-color: rgba(246, 248, 250, 0.342);
}

.dashboard-icons {
    width: 70%;
    margin: auto;
    border-radius: 50%;
    border-color: transparent;
    padding: -3%;
    transition: 0.3s ease;
    opacity: 0.78;
}

.dashboard-icons:hover {
    box-shadow: 0px 3px 12px #00000034;
    opacity: 1;
}

.big-text {
    font-size: 3rem;
    text-align: right;
}

.no-underline,
.no-underline:hover {
    text-decoration: none;
}

.margined-top {
    margin-top: 8%;
}

.inputs {
    width: 100%;
    text-align: center !important;
    margin: 10px;
    display: block;
}
